span img{

    padding: 0;
    height: 2em;
    position: relative;
    top: 0.8em;
}

.about {
    font-style: italic;
    border-radius: 10%;
    padding: 0.2% 0.8%;
    font-family: 'Roboto';
    background-color: #3B72E1;
    z-index: 408;
}

.bolder {
    font-weight: bolder;
}

.blue {
    color: blue;
}

.about:hover {
    background-color: white;
}

.about:hover .hide {
    display: block;
}

.about:hover .infoIcon {
    display: none;
}

.green {
    color: green;
}

.hide{
    display: none;
}


.info p{
    margin-bottom: -6;
}

.info ul {
padding-left: 12;
}

.infoIcon {
    font-size: x-large;
    margin: 2vh;
    font-weight: 1000;
    color: white;
}

.plus {
    font-weight: 800;
    color: blue;
}