.about span img {
    padding: 0;
    height: 2em;
    position: relative;
    top: 0.8em;
}

.about {
    font-style: italic;
    padding: 0 12px;
    font-family: 'Roboto';
    background-color: #3B72E1;
    min-width: 0.25cm;
    z-index: 408;
    position: absolute;
    cursor: pointer; 
    border-radius: var(--border-radius);
}

.bolder {
    font-weight: bolder;
}

.blue {
    color: blue;
}

.about:hover {
    background-color: white;
}

.about:hover .hide {
    display: block;
}

.about:hover .infoIcon {
    display: none;
}

.green {
    color: green;
}

.hide {
    display: none;
    transition: display 1s;
}



.info p {
    margin-bottom: -6;
}

.info ul {
    padding-left: 12;
}

.infoIcon {
    font-size: 23;
    font-weight: 1000;
    color: white;
}

.plus {
    font-weight: 900;
    color: blue;
}