.Animal {
    z-index: 410;
    position: absolute;
    display: flex;
    width: 100%;
    align-items: flex-end;
    bottom: 2%;
}

.Animal .icon {
    min-height: 0.5cm;
    max-width: 28px;
    height: 60%;
    max-height: 0.7cm;
    top: 20%;
    left: 1vh;
    position: absolute;
}

.animalOptions div {
    display: block;
    background-color: #437ED5;
    cursor: pointer;
    padding: 6px;
    box-sizing: border-box;
}

.animalOptions img {
    height: 100%;
    width: 100%;
}

.animalOptions {
    height: 0;
}

.animalOptions, #moreOptionsContainer {
    transition: height 0.5s, width 0.5s, border 0.5s;
    overflow: hidden
}

.cameraIcon {
    height: var(--largeHeight);
}

.cameraIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--appColor);
    color: var(--appColor);
    font-size: 1.2em;
    min-height: 1cm;
    max-height: 2cm;
    min-width: 100%;
}

.cameraIcon {
    max-height: 100%;
    position: relative;
 
}

.cameraIcon>input {
    display: none;
}

.cameraIcon>img {
    height: 90%;
    margin-right: 10px;
    max-height: 2cm;
}

.catOption {
    padding: 8px !important;
}

.moreOptions input, textarea {
    padding-left: 38px;
    min-height: var(--minHeightInput);
}

.moreOptions textarea{
    max-width: 90%;
}

.moreOptions textarea {
    padding-top: 15px;
}

.moreOptions>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.moreOptions>div>div {
    position: relative;
    width: 100%;
}

.menu:hover .animalOptions {
    height: calc(var(--circularBtnHeight)*2.1);
}

@media (max-height:500px) {
    .menu:hover .animalOptions {
        height: 130px;
    }
}

.menu {
    position: absolute;
    right: 2%;
}

.menu>img {
    box-shadow: 2px 2px rgba(245, 172, 172, 0.233);
}

.mainOptions {
    display: flex;
    justify-content: space-between;
    min-width: 3.5cm;
}

.mainOptions>img, .mainOptions>input {
    background-size: cover;
}

.mainOptions img {
    padding: 12px;
    box-sizing: border-box;
    overflow-y: visible;
}

.mainOptions label {
    display: flex;
    align-items: center;
}

.moreOptions {
    height: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    font-size: 1.2em;
    padding: 7%;
    box-sizing: border-box;
}

.moreOptions>div>div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.moreOptions>*>textarea, .form {
    resize: vertical;
    max-height: 3cm;
}

.moreOptions>*>div {
    margin-bottom: 3%;
}

#moreOptionsContainer:hover>.moreOptions {
    height: 100%;
    display: flex;
}

#moreOptionsContainer:hover {
    height: 75vh;
    background-color: white;
    animation: none;
}

#moreOptionsContainer:hover>.moreOptions {
    min-height: 10.5cm;
}

@media (max-height: 500px) {
    #moreOptionsContainer {
        max-height: 6cm !important;
    }
}

@media (max-height: 330px) {
    #moreOptionsContainer {
        max-height: 5.5cm !important;
    }
}

@media(max-width:1500px) {
    #moreOptionsContainer {
        width: 2cm;
    }
}

@media(min-width:1500px) {
    .moreOptionsContainer {
        width: 3cm;
    }
}

#moreOptionsContainer:hover {
    min-width: 6cm;
    width: 83%;
    overflow-y: scroll;
    border: var(--emergentBorder)
}

#moreOptionsContainer {
    height: 5vh;
    max-height: none;
    min-height: 0.6cm;
    max-height: 25cm;
    margin-bottom: 1%;
    background-color: white;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    max-width: 13cm;
    animation: blinker 1.2s linear infinite;
    cursor: pointer;
}

#moreOptionsContainer>span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 100%;
}

#moreOptionsContainer:hover>span {
    display: none;
}

#moreOptionsContainer span img {
    height: 25%;
    min-height: 0.2cm;
}

.options {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.optionsContainer {
    width: 100%;
    z-index: 7;
}

@keyframes blinker {
    80% {
        opacity: 0.2;
    }
}

.petsIcon {
    height: 45% !important;
    top: 27% !important;
}

.selector {
    background-color: white;
    border-radius: 50%;
    height: var(--circularBtnHeight);
    width: var(--circularBtnHeight);
    min-height: 65px;
    min-width: 65px;
    cursor: pointer;
}

.sendIcon>img {
    height: 80%;
}