.Animal{
  display: flex;
  bottom: 7%;
  right: 2%;
  z-index: 401;
  position: fixed;
  align-items: flex-end;
}

.catOption{
    background-image: url("./images/catIcon.png"); 
    background-size: cover;
}

.cancelMarker{
    background-color: white;
    border-radius: 50%;
    display: block;
    height: 9vh;
    background-size: cover;
    margin-bottom: 10px;
}

.dogOption{
    background-image: url("./images/dogIcon.png");
    background-size: cover;
    
}

.menu {
    z-index:402
}

.menu:hover .options {
    height: 19.5vh;
}
.options div{
    background-color: rgb(250, 111, 204);
    border-radius: 50%;
    width: 9vh;
    height:9vh;
    margin: auto;
}

.options{
    height: 0;
    transition-property: height;
    transition-duration: 0.5s;
    overflow:hidden
}

.selector {
    background-color:white;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    min-height: 70px;
    min-width: 70px;
}