.Animal {
    display: flex;
    z-index: 401;
    position: absolute;
    align-items: flex-end;
}

.animalOptions img {
    display: block;
    background-color: rgb(250, 111, 204);
    border-radius: 50%;
    width: 9vh;
    height: 9vh;
    margin: auto;
    cursor: pointer;
}

.animalOptions {
    height: 0;
    transition-property: height;
    transition-duration: 0.5s;
    overflow: hidden
}

.cameraIcon {
    margin-bottom: 33%;
    overflow: hidden;
    display: flex !important;
    align-items: center;
}

.cameraIcon>input {
    display: none;
}

.cameraIcon>img {
    width: 100%;
}

.cancelMarker {
    margin-bottom: 10%;
}

.menu:hover .animalOptions {
    height: 19.5vh;
}

.menu {
    z-index: 6;
}

.options>img, .options>label {
    display: block;
    background-color: white;
    border-radius: 50%;
    height: 9vh;
    width: 9vh;
    min-width: 60px;
    min-height: 60px;
    background-size: cover;
    cursor: pointer;
}

.selector {
    background-color: white;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    min-height: 65px;
    min-width: 65px;
    cursor: pointer;
}