@media (min-width:800px) {
    :root {
        --panel-height: 73vh;
        --panel-width: 70%;
        --panel-margin-top: 10vh;
        --app-icon-height: 16vh;
        --app-icon-height: calc(var(--vh, 1vh) * 16);
    }
    #login {
        border: 2px solid white !important;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.19);
    }
    .appIcon {
        position: absolute;
        top: -8vh;
        left: 44.5%;
    }
}

@media (max-width:800px) {
    :root {
        --panel-height: 100vh;
        --panel-height: calc(var(--vh, 1vh) * 100);
        --panel-width: 100%;
        --app-icon-height: 20vh;
        --app-icon-height: calc(var(--vh, 1vh) * 20);
        --panel-margin-top: 0;
    }
    #login {
        margin-bottom: 10vh;
    }
}

.appIcon {
    height: var(--app-icon-height);
    width: var(--app-icon-height);
    border-radius: 50%;
    background-color: white;
}

.googleBtnDiv {
    width: 70%;
    min-height: var(--minHeightInput);
}

.googleBtnDiv>button {
    cursor: pointer;
    min-height: var(--minHeightInput);
    color: rgb(48, 47, 47);
}

.googleBtnDiv>button>img {
    margin-right: 7px;
}

.goback {
    position: absolute;
    left: 15px;
    top: calc(var(--vh, 1vh) * 4);
    left: calc(var(--vh, 1vh) * 4);
    cursor: pointer;
    z-index: 3;
    width: 8vh;
}

#login {
    height: var(--panel-height);
    padding: 10px;
    padding: calc(var(--vh, 1vh) * 7) 0 calc(var(--vh, 1vh) * 6) 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: var(--panel-margin-top);
    width: var(--panel-width);
}

#login>* {
    margin-bottom: 15px;
}

#login>div {
    text-align: center;
}

#login>div>p {
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    line-height: 23px;
}

.loginContainer {
    height: 100vh;
    overflow-y: scroll;
    background: radial-gradient(80.42% 80.42% at 88.5% 12.34%, #4780D4 0%, #417DD6 48.96%, #46699D 98.28%);
    background: #437ED5;
}

.inputsContainer {
    width: 100%;
    flex-direction: column;
}

.inputsContainer>* {
    margin: 5px;
    color: rgb(36, 36, 36);
}

.inputsContainer span {
    color: white;
    cursor: pointer;
    font-weight: 500;
}

.inputsContainer>div>p {
    color: rgb(36, 36, 36);
}

.inputsContainer>div>p {
    text-align: right;
}

.inputsContainer span:hover {
    color: rgb(255, 94, 0);
    text-decoration: underline;
}

.inputsContainer>div>input, #login button {
    border: none;
    height: 45px;
    height: calc(var(--vh, 1vh) * 6);
    width: 100%;
    max-width: 8cm;
    border-radius: var(--big-border-radius);
    margin: 0;
    padding: 0;
}

.inputsContainer>div {
    width: 100%;
    position: relative;
}

.inputsContainer>div>input {
    padding-left: 35px;
    box-sizing: border-box;
    min-height: var(--minHeightInput);
}

.inputsContainer>div>img {
    position: absolute;
    z-index: 2;
    height: 15px;
    min-height: var(--minIconHeight);
    margin-top: 10px;
    padding-left: 8px;
}

.inputsContainer>div {
    width: 70%;
    max-width: 8cm;
}

.inputsContainer button {
    border: none;
    color: white !important;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
    min-height: var(--minHeightInput);
}



#login .BtnContainer {
    font-weight: bold;
    width: 100%;
    background-color: #2EC6FE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--minHeightInput);
    border-radius: var(--big-border-radius);
}

.signUpBtn {
    background-color: #2EEE35 !important;
}