p label {
    cursor: pointer;
}

.animalImg {
    object-fit: cover;
    height: 100% !important;
    z-index: 3;
    cursor: pointer;
}

.animalImgcontainer {
    overflow-x: scroll;
    height: 45%;
    background-color: #F2EFE9;
    text-align: center;
    z-index: 10;
}


.center{
    align-self: center;
}

.deployimg .close {
    position: absolute;
    right: 10px;
    z-index: 3;
    top: 2vh;
}

.fullScreen {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    position: fixed;
}

.fullScreen .left {
    left: 0;
    top: 0;
}

.infoContainer .background {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.close {
    position: relative;
    float: right;
    margin-top: 1vh;
    height: 8vh;
    min-height: var(--minCloseIconHeigh);
    cursor: pointer;
}

.deployimg {
    align-items: center;
    z-index: 409;
    background-color: white;
    overflow-x: scroll;
    border: 2px solid hsla(38, 6%, 75%, 0.8);
    border-radius: 5px;
    box-sizing: border-box;
    height: 90%;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
}

.deployimg>img {
    z-index: 1;
}

.hidden {
    display: none;
}

.infoContainer {
    padding: 0vh 3vh 2vh 3vh;
    width: 100%;
    height: 90%;
    min-height: 15cm;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    /* border: 1px solid black;*/
}

.infoContainer>* {
    min-width: 6cm;
    flex-grow: 1;
    /* border: 1px solid red;*/
}

.infoContainer>div:nth-child(1) {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*
.infoContainer>div>* {
    border: 1px solid blue;
}*/

.infoContainer>div>div>p {
    margin-left: 6vh;
}

.panel .probabilityContainer {
    display: flex;
    align-items: center;
    margin-top: 2vh;
}

.panelContainer .lds-ring {
    position: absolute;
    top: 48%;
    left: 50%;
}

.infoContainer>img {
    max-width: 12cm;
    height: 40%;
    background-size: contain;
}

.excess {
    color: red;
    margin-left: 10%;
}

.frecuenceUpdated {
    color: #37B258;
    font-weight: bolder;
    margin-top: 4vh;
    margin-left: 3vh;
    position: absolute;
}

.mobilbigimg {
    height: 85vw;
    max-height: 15cm;
    transform: rotate(-90deg);
}

.panel label img {
    cursor: pointer;
    padding: 15px 0;
}

.panel {
    bottom: 0;
    z-index: 402;
    background-color: white;
    height: 100%;
    max-width: 12cm;
    width: 0;
    position: absolute;
    margin-top: -100vh;
    overflow-y: scroll;
    transition: width var(--fastTransition);
    overflow-x: hidden;
    border-right: var(--emergentBorder);
}

.active {
    transition: width var(--slowTransition);
    width: 100vw;
}

.inactive p {
    min-width: 9.5cm;
}

.panel label>img {
    width: 3.5vh;
    margin-left: 1vh;
}

.panel .petsImg {
    width: 4.5vh;
    margin-left: -0.5vh;
}

.probabilitybars {
    border: 3px solid #C2C2C3;
    width: 80%;
    margin: 1em 0;
}

.probabilitybars>* {
    display: inline-block;
    width: 10%;
    height: 3.5vh;
    min-height: 22px;
    box-sizing: border-box;
    border-left: 1px solid #c2c2c3;
}

.relative {
    position: relative;
}

.top {
    align-self: flex-start;
    margin-top: 10px;
}

.verticalCentered {
    display: flex;
    color: #6868EE;
    font-size: 1.1em;
    font-weight: bold;
    align-items: center;
}

.verticalCentered>img {
    width: 4vh;
    max-height: 4vh;
    min-height: 20px;
    min-width: 20px;
    margin-right: 2vh;
}