p label {
    cursor: pointer;
}

.animalImg {
    object-fit: cover;
    height: 100% !important;
}

.animalImgcontainer {
    overflow-x: scroll;
    height: 45%;
    background-color: #F2EFE9;
    text-align: center;
}

.close {
    position: relative;
    float: right;
    margin-top: 1vh;
    height: 8vh;
    min-height: var(--minCloseIconHeigh);
    cursor: pointer;
}

.hidden {
    display: none;
}

.infoContainer {
    padding: 0vh 3vh 2vh 3vh;
    width: 100%;
    height: 90%;
    min-height: 15cm;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    /* border: 1px solid black;*/
}

.infoContainer>* {
    min-width: 6cm;
    flex-grow: 1;
    /* border: 1px solid red;*/
}

.infoContainer>div:nth-child(1) {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*
.infoContainer>div>* {
    border: 1px solid blue;
}*/

.infoContainer>div>div>p {
    margin-left: 6vh;
}

.panel .probabilityContainer {
    display: flex;
    align-items: center;
    margin-top: 2vh;
}

.infoContainer>img {
    max-width: 12cm;
    height: 40%;
    background-size: contain;
}

.excess {
    color: red;
    margin-left: 10%;
}

.frecuenceUpdated {
    color: #37B258;
    font-weight: bolder;
    margin-top: 4vh;
    margin-left: 3vh;
    position: absolute;
}

.panel label img {
    cursor: pointer;
    padding: 15px 0;
}

.panel {
    bottom: 0;
    z-index: 400;
    background-color: white;
    height: 100%;
    max-width: 11cm;
    width: 0;
    position: absolute;
    margin-top: -100vh;
    overflow-y: scroll;
    transition: width var(--fastTransition);
    overflow-x: hidden;
    border-right: var(--emergentBorder);
}

.panelContainer {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition: width var(--fastTransition);
}

.active {
    transition: width var(--slowTransition);
    width: 100vw;
}

.inactive p {
    min-width: 9.5cm;
}

.panel label>img {
    width: 3.5vh;
    margin-left: 1vh;
}

.probabilitybars {
    border: 3px solid #C2C2C3;
    width: 80%;
    margin: 1em 0;
}

.probabilitybars>* {
    display: inline-block;
    width: 10%;
    height: 3.5vh;
    min-height: 22px;
    box-sizing: border-box;
    border-left: 1px solid #c2c2c3;
}

.verticalCentered {
    display: flex;
    color: #6868EE;
    font-size: 1.1em;
    font-weight: bold;
    align-items: center;
}

.verticalCentered>img {
    width: 4vh;
    max-height: 4vh;
    min-height: 20px;
    min-width: 20px;
    margin-right: 2vh;
}