.uploadPhotos {
    align-items: stretch;
    justify-content: center !important;
    flex-direction: column;
    background-color: seashell;
    border-radius: 20px;
    display: flex;
    width: 85%;
    max-width: 13cm;
    max-height: 20cm;
    height: 78%;
    box-sizing: border-box;
    z-index:9;
    color: #ffab2e79;
    position: relative;
    top:5%;
}



.uploadPhotos>input[type=submit] {
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    position: absolute;
    bottom: 4%;
    right: 5%;
    background-image: url(./images/uploadIcon.svg);
    height: 10vh;
    width: 10vh;
    background-size: contain;
    background-color: white;

}

.uploadPhotos> img {
    position: absolute;
    right: 2vh;
    top: 2vh;
}

.uploadPhotos>label {
    height: 55%;
    box-shadow: 10px 10px gray;
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: scroll;
    margin-top: 6%;
    margin-bottom:2%;
    width: 80%;
    left: 10%;
    position: relative;
}

.uploadPhotos>label>img {
    width: 100%;
   
}

.uploadPhotos>progress {
    height: 5%;
    margin-top: 3%;
    width: 100%;
}

.uploadPhotos>progress::-webkit-progress-bar {
    height: 5%;
    margin-top: 3%;
    color: green;
    flex-grow: 1;
    width: 100%;
}

.uploadPhotos>progress::-webkit-progress-value {
    height: 5%;
    margin-top: 3%;
    color: green;
    width: 100%;
}

.uploadPhotos>progress::-moz-progress-bar {
    height: 5%;
    margin-top: 3%;
    width: 100%;
}

.uploadPhototsContainer {
    height: 92vh;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 9;
    left: 0;
    bottom: 0;
}

h2 {
    text-align: center;
}

input[type=file] {
    display: none;
}