.frecuences{
    border: 3px solid #C2C2C3;
    overflow: hidden;
    display: flex;
}

.frecuences >*{
    border: 1px solid white;
    display: inline-block;
    height: 2vh;
    max-height: 2vh;
    min-height: 20px;
    min-width: 50px;
    background-color: #396EE3;
}

.form{
    color:#0543B3;
    line-height: 10px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 5%;
    text-align: center;
    background-color: white;
    position: absolute;
    right: 11vh;
}